@using Microsoft.AspNetCore.Identity
@model UsersShowUserViewModel

@{
    var loggedInUser = Model.LoggedInUser;
    bool isListening = loggedInUser != null && loggedInUser.ListeningTo != null &&
                       loggedInUser.ListeningTo.Any(l => l.Id == Model.User.Id);
}

<div>
    @if (Model.User != null)
    {
        <h1>Broadcasts from @Model.User.Name</h1>

        @if (loggedInUser != null && loggedInUser.Id != Model.User.Id)
        {
            <div>
                @Html.AntiForgeryToken() 
                @if (!isListening)
                {
                    <button id="listenButton" class="btn-primary" onclick="handleListen('@Model.User.Id', true)">Follow @Model.User.Name</button>
                }
                else
                {
                    <button id="unlistenButton" class="btn-primary" onclick="handleListen('@Model.User.Id', false)">Unfollow @Model.User.Name</button>
                }
            </div>
        }
    }
    else
    {
        ViewData["Title"] = "User not found";
        <h1>User not found</h1>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
</div>

@if (Model.User != null)
{
    @foreach (var broadcastModel in Model.Broadcasts)
    {
        var broadcast = broadcastModel.Broadcast;
        <div class="broadcast-item">
            <p>
                <b>@broadcast.User.Name</b>
                <span>@broadcast.Published.ToShortDateString() @broadcast.Published.ToShortTimeString()</span>
            </p>

            @if (!string.IsNullOrEmpty(broadcast.Message))
            {
                <p>@broadcast.Message</p>
            }

            @if (!string.IsNullOrEmpty(broadcast.ImagePath))
            {
                <img src="@broadcast.ImagePath" alt="Broadcast image" style="max-width: 30%; height: auto;" />
            }

            <div>
                <span id="like-count-@broadcast.Id">@broadcastModel.LikeCount</span>
                <button onclick="toggleLike(@broadcast.Id)"
                        id="like-button-@broadcast.Id"
                        class="btn @(broadcastModel.UserLiked ? "btn-primary" : "btn-secondary")">
                    👍
                </button>

                <div class="like-tooltip" id="like-tooltip-@broadcast.Id">
                    @if (broadcastModel.LikedUsers.Any())
                    {
                        <ul>
                            @foreach (var likedUser in broadcastModel.LikedUsers)
                            {
                                <li>@likedUser.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No likes yet.</p>
                    }
                </div>
            </div>
        </div>
        <hr />
    }


}

@await Html.PartialAsync("_FriendsBox", Model.FollowedUsers)

<script src="~/js/site.js"></script>
